 .home_card1{
   display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    z-index: 1;
    /* position: absolute; */
    max-width: 597px;
    background-color: #fff5eb;
     /* align-items: center; */
} 
.home{
  background-image: url("https://st4.depositphotos.com/3308451/21595/i/600/depositphotos_215955814-stock-photo-red-rose-white-wine-glasses.jpg");
  /* background-repeat: no-repeat; */
}

