 .home_card1{
   display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    z-index: 1;
    /* position: absolute; */
    max-width: 597px;
    background-color: #fff5eb;
     /* align-items: center; */
} 

